div,ul,li,a,span,h1,h2,h3,h4,button,p,img{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
/*模态框（id:tuhuancode)部分*/
#tuhuancode p{
	color: #333333;
	text-align: center;
}
#tuhuancode p:nth-of-type(2){
	margin-bottom: 100px;
}
.code{
	/*模态框内二维码*/
	margin-top: 110px;
	width: 50%;
	margin-left: 25%;
	border: 1px solid #C0C0C0;
}
.code img{
	width: 80%;
	margin: 30px;
}
#btn2{
	margin-top: 26px;
	margin-right: 30px;
	color: #3c3c3c;
}
#btn2 span{
	font-size: 50px;
}

/*顶部导航栏(header)*/
.header{
	position: fixed;
	margin-left: -15px;
	z-index: 2;
	width: 101%;
	height: 83px;
	background: rgba(255,255,255,0.9);
}
.header ul{
	margin-left: -10px;
}
.header ul li{
	height: 83px;
	margin-right: 10px;
}
.header ul a{
	color: black;
	font-size: 17px;
	margin-top: 15px;
}
.header ul a:hover{
	background: white;
}

.header button[type=button],
.line6 button{
	margin-top: 20px;
	width: 140px;
	color: #4ec487;
	background: white;
	border: 1px solid #4ec487;
}
.header button[type=button]:hover,
.header button[type=button]:focus{
	color: white;
	background: #4ec487;
}
